


/* ============================= 
    GALLERY-4 CSS
================================ */
#contentarea .gallery-style-4 {
  padding: 100px 0 70px;
  /*background: #f3f3f3;*/
}

.gallery-style-4 .single-gallery {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 30px;
}

.gallery-style-4 .single-gallery:hover .overlay {
  opacity: 1;
  visibility: visible;

}

.gallery-style-4 .single-gallery:hover .overlay .action {
  transform: translateY(0px);
}

.gallery-style-4 .single-gallery .image {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.gallery-style-4 .single-gallery .image img {
  width: 100%;
}

.gallery-style-4 .single-gallery .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  background: rgba(47, 128, 237, 0.3);
}

.gallery-style-4 .single-gallery .overlay .action {
  transform: translateY(20px);
  transition: all 0.3s ease-out 0s;
}

.gallery-style-4 .single-gallery .overlay .action a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  color: #323450;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-style-4 .single-gallery .info {
  transition: all 0.3s ease-out 0s;
  background: #ffffff;
  margin-left: 30px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px 0 5px 5px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;

}

.gallery-style-4 a {
  text-decoration: none;
    color: #212529;
}

.gallery-style-4 a:hover {
    color: #0d6efd;
}

.gallery-style-4 .single-gallery .info .title{
  min-height: 100px;
}

.gallery-style-4 .single-gallery .info h5 {
  margin-bottom: 15px;
}

.signup-style-2 {
  padding: 100px 0px 50px;
  background: #f3f3f3;
}

.signup-style-2 .signup-content-wrapper {
  margin-bottom: 50px;
  padding-right: 120px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .signup-style-2 .signup-content-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper .image {
    display: none;
  }
}

.signup-style-2 .signup-form-wrapper {
  margin-bottom: 50px;
}

.signup-style-2 .signup-form-wrapper .single-input {
  margin-bottom: 25px;
}

.signup-style-2 .signup-form-wrapper .single-input label {
  display: block;
  font-weight: 500;
  color: #323450;
  margin-bottom: 12px;
}

.signup-style-2 .signup-form-wrapper .single-input input {
  width: 100%;
  border: 1px solid rgba(88, 89, 120, 0.5);
  height: 64px;
  line-height: 1;
  padding: 0 30px;
  border-radius: 10px;
  background: transparent;
  color: #585978;
}

.signup-style-2 .signup-form-wrapper .single-input input::placeholder {
  opacity: .5;
}

.signup-style-2 .signup-form-wrapper .single-input input:focus {
  border-color: #2F80ED;
}

.signup-style-2 .signup-form-wrapper p a {
  color: #2F80ED;
  font-weight: 500;
}


/* ============================= 
    TYPOGRAPHY CSS
================================ */
#contentarea h1, #contentarea h2, #contentarea h3, #contentarea h4, #contentarea h5, #contentarea h6,
#contentarea .h1, #contentarea .h2, #contentarea .h3, #contentarea .h4, #contentarea .h5, #contentarea .h6 {
  font-weight: 700;
  color: #323450;
  margin-bottom: 0;
  font-family: "Ubuntu", sans-serif;
}

#contentarea h1, #contentarea .h1 {
  font-size: 80px;
  letter-spacing: .7px;
}

#contentarea h2, #contentarea .h2 {
  font-size: 60px;
  letter-spacing: .7px;
}

#contentarea h3, #contentarea .h3 {
  font-size: 40px;
  letter-spacing: .4px;
}

#contentarea h4, #contentarea .h4 {
  font-size: 30px;
  letter-spacing: .35px;
}

#contentarea h5, #contentarea .h5 {
  font-size: 24px;
}

#contentarea h6, #contentarea .h6 {
  font-size: 20px;
}

#contentarea .font-weight-bold {
  font-weight: 700;
}

#contentarea .font-weight-semi-bold {
  font-weight: 600;
}

#contentarea .font-weight-medium {
  font-weight: 500;
}

#contentarea .font-weight-regular {
  font-weight: 400;
}

#contentarea .font-weight-light {
  font-weight: 300;
}

#contentarea .body-font-size {
  font-size: 16px;
}

#contentarea .font-size-sm {
  font-size: 14px;
}

#contentarea .font-size-xs {
  font-size: 12px;
}

#contentarea .caption-font-size {
  font-size: 14px;
}

#contentarea p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}

/* ============================= 
    TYPOGRAPHY PAGE CSS
================================ */
#contentarea .title h4 {
  position: relative;
  padding-left: 20px;
  color: #000000;
  line-height: 1.9;
}

#contentarea .title h4::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 56px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #2F80ED;
}

#contentarea .headings-wrapper p {
  font-family: "Ubuntu", sans-serif;
}


/* ============================= 
    SIGNUP-2 CSS
================================ */
#contentarea .signup-style-2 {
  padding: 100px 0px 50px;
  background: #f3f3f3;
}

#contentarea .signup-style-2 .signup-content-wrapper {
  margin-bottom: 50px;
  padding-right: 120px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #contentarea .signup-style-2 .signup-content-wrapper {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #contentarea .signup-style-2 .signup-content-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #contentarea .signup-style-2 .signup-content-wrapper {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  #contentarea .signup-style-2 .signup-content-wrapper .image {
    display: none;
  }
}

#contentarea .signup-style-2 .signup-form-wrapper {
  margin-bottom: 50px;
}

.signup-style-2 .signup-form-wrapper .single-input {
  margin-bottom: 25px;
}

.signup-style-2 .signup-form-wrapper .single-input label {
  display: block;
  font-weight: 500;
  color: #323450;
  margin-bottom: 12px;
}

.signup-style-2 .signup-form-wrapper .single-input input {
  width: 100%;
  border: 1px solid rgba(88, 89, 120, 0.5);
  height: 64px;
  line-height: 1;
  padding: 0 30px;
  border-radius: 10px;
  background: transparent;
  color: #585978;
}

.signup-style-2 .signup-form-wrapper .single-input input::placeholder {
  opacity: .5;
}

.signup-style-2 .signup-form-wrapper .single-input input:focus {
  border-color: #2F80ED;
}

.signup-style-2 .signup-form-wrapper p a {
  color: #2F80ED;
  font-weight: 500;
}



.radius-3 {
  border-radius: 3px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-50 {
  border-radius: 50px;
}

.radius-full {
  border-radius: 50%;
}

.radius-10-0 {
  border-radius: 10px 0px;
}

#contentarea button {
  transition: all 0.3s ease-out 0s;
}

/* ============================= 
    BUTTONS CSS
================================ */
#contentarea .button {
  height: 44px;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #2F80ED;
  color: #ffffff;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  padding: 0 25px;
  overflow: hidden;
}

#contentarea .button i {
  padding-left: 20px;
}

#contentarea .button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  padding: 50%;
  border-radius: 50%;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: all .4s linear;
  transform: translate3d(-50%, -50%, 0) scale(0);
}

#contentarea .button:hover {
  color: #ffffff;
}

#contentarea .button:hover::before {
  transform: translate3d(-50%, -50%, 0) scale(1.5);
}

#contentarea .button.border-button {
  background: transparent;
  color: #2F80ED;
  border-color: #2F80ED;
}

#contentarea .button.border-button::before {
  background: rgba(47, 128, 237, 0.16);
}

#contentarea .button-lg {
  height: 64px;
}

#contentarea .button-sm {
  height: 34px;
  font-size: 16px;
  font-weight: 400;
}

/* ====== MARGIN PADDING ======= */
#contentarea .mt-6 {
  margin-top: 6px;
}

#contentarea .mt-5 {
  margin-top: 5px;
}

#contentarea .mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-65 {
  margin-left: 65px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-85 {
  margin-left: 85px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.mr-6 {
  margin-right: 6px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-65 {
  margin-right: 65px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-75 {
  margin-right: 75px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-85 {
  margin-right: 85px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-100 {
  margin-right: 100px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.pl-6 {
  padding-left: 6px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-25 {
  padding-left: 25px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-35 {
  padding-left: 35px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-45 {
  padding-left: 45px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-55 {
  padding-left: 55px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-65 {
  padding-left: 65px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-75 {
  padding-left: 75px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-85 {
  padding-left: 85px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-100 {
  padding-left: 100px;
}

.pr-6 {
  padding-right: 6px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-25 {
  padding-right: 25px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-35 {
  padding-right: 35px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-45 {
  padding-right: 45px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-55 {
  padding-right: 55px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-65 {
  padding-right: 65px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-75 {
  padding-right: 75px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-85 {
  padding-right: 85px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-100 {
  padding-right: 100px;
}