/* ============================= 
    GALLERY-4 CSS
================================ */
.gallery-style-4 {
  /*padding: 20px 0 70px;*/
  /*background: #f3f3f3;*/
}

.gallery-style-4 .single-gallery {
  position: relative;
  overflow: hidden;
  z-index: 1;
  /*margin-bottom: 30px;*/
}

.gallery-style-4 .single-gallery:hover .overlay {
  opacity: 1;
  visibility: visible;

}

.gallery-style-4 .single-gallery:hover .overlay .action {
  transform: translateY(0px);
}

.gallery-style-4 .single-gallery .image {
  position: relative;
  overflow: hidden;
}

.gallery-style-4 .single-gallery .image img {
  width: 100%;
}

.gallery-style-4 .single-gallery .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
  background: rgba(47, 128, 237, 0.3);
}

.gallery-style-4 .single-gallery .overlay .action {
  transform: translateY(20px);
  transition: all 0.3s ease-out 0s;
}

.gallery-style-4 .single-gallery .overlay .action a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  color: #323450;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-style-4 .single-gallery .info {
  transition: all 0.3s ease-out 0s;
  background: #ffffff;
  margin-left: 30px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px 0 5px 5px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;

}

.gallery-style-4 a {
  text-decoration: none;
    color: #212529;
}

.gallery-style-4 a:hover {
    color: #0d6efd;
}

.gallery-style-4 .single-gallery .info .title{
  min-height: 100px;
}

.gallery-style-4 .single-gallery .info h5 {
  margin-bottom: 15px;
}

.signup-style-2 {
  padding: 100px 0px 50px;
  background: #f3f3f3;
}

.signup-style-2 .signup-content-wrapper {
  margin-bottom: 50px;
  padding-right: 120px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .signup-style-2 .signup-content-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper .image {
    display: none;
  }
}

.signup-style-2 .signup-form-wrapper {
  margin-bottom: 50px;
}

.signup-style-2 .signup-form-wrapper .single-input {
  margin-bottom: 25px;
}

.signup-style-2 .signup-form-wrapper .single-input label {
  display: block;
  font-weight: 500;
  color: #323450;
  margin-bottom: 12px;
}

.signup-style-2 .signup-form-wrapper .single-input input {
  width: 100%;
  border: 1px solid rgba(88, 89, 120, 0.5);
  height: 64px;
  line-height: 1;
  padding: 0 30px;
  border-radius: 10px;
  background: transparent;
  color: #585978;
}

.signup-style-2 .signup-form-wrapper .single-input input::placeholder {
  opacity: .5;
}

.signup-style-2 .signup-form-wrapper .single-input input:focus {
  border-color: #2F80ED;
}

.signup-style-2 .signup-form-wrapper p a {
  color: #2F80ED;
  font-weight: 500;
}




/* ============================= 
    SIGNUP-2 CSS
================================ */
.signup-style-2 {
  padding: 100px 0px 50px;
  background: #f3f3f3;
}

.signup-style-2 .signup-content-wrapper {
  margin-bottom: 50px;
  padding-right: 120px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .signup-style-2 .signup-content-wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .signup-style-2 .signup-content-wrapper .image {
    display: none;
  }
}

.signup-style-2 .signup-form-wrapper {
  margin-bottom: 50px;
}

.signup-style-2 .signup-form-wrapper .single-input {
  margin-bottom: 25px;
}

.signup-style-2 .signup-form-wrapper .single-input label {
  display: block;
  font-weight: 500;
  color: #323450;
  margin-bottom: 12px;
}

.signup-style-2 .signup-form-wrapper .single-input input {
  width: 100%;
  border: 1px solid rgba(88, 89, 120, 0.5);
  height: 64px;
  line-height: 1;
  padding: 0 30px;
  border-radius: 10px;
  background: transparent;
  color: #585978;
}

.signup-style-2 .signup-form-wrapper .single-input input::placeholder {
  opacity: .5;
}

.signup-style-2 .signup-form-wrapper .single-input input:focus {
  border-color: #2F80ED;
}

.signup-style-2 .signup-form-wrapper p a {
  color: #2F80ED;
  font-weight: 500;
}


